@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

.header {
    height: 68px;
    width: calc(100% - 293px);
       background: #A587BA;
    display: flex;
    align-items: center;
    margin-left: 293px; 
    padding: 0;
    position: absolute;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 

}

.logoBackground {
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 0px 0px 12px 12px;
    padding: 8px 24px;
    margin-bottom: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoText {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #353232;
    letter-spacing: 0.5px;
}

